.homepage {
	.sections-wrapper {
		position: relative;
		height: 100%;
		overflow: hidden;
	}
	.sections-container {
		@include translate3d( 0px, 0px, 0px );
		@include transition( -webkit-transform $slow $ease-out-expo );
	}
	.section {
		height: 100%;
	}
	.section-1 {
		background-color: white;
	}
	.section-2 {
		background-color: black;
	}
	.section-3 {
		background-color: #00ddff;
	}
	.section-4 {
		background-color: $darkest-blue;
	}
}