.homepage {
	.sections-wrapper {
		position: relative;
		height: 100%;
		overflow: hidden;
	}
	.sections-container {
		@include translate3d( 0px, 0px, 0px );
		@include transition( -webkit-transform $slow $ease-out-expo );
	}
	.section {
		height: 100%;

		[class*="col-"] {
			padding: 0px;
		}
		.wave-wrapper {
			display: table;
			table-layout: fixed;
			height: 100%;
			width: 100%;
		}
		.wave-container {
			display: table-cell;
			vertical-align: bottom;
			width: 100%;
			overflow: hidden;

			svg {
				width: 100%;
				stroke-width: 4;
				fill: none;
				@include translateY( 65px );
			}
		}
	}
	.section-1 {
		background-color: white;
	}
	.section-2 {
		background-color: black;
	}
	.section-3 {
		background-color: #00ddff;
	}
	.section-4 {
		background-color: $darkest-blue;
	}
}