$blue-cyan: #00ddff;
$red-magenta: #ff00aa;
$bright-yellow: #ffff55;
$bright-green: #55ffaa;
$indigo-blue: #5555ff;
$darkest-blue: #00001a;


$light-grayish-yellow: #fbfaf6;
$peach-sorbet: #FEA973;
$startling-orange: #EB7128;
$soft-blue: #5ABDE7;
$dark-blue: #007BAE;